{% extends "main/base.html" %}

{% block title %}
Страница про сайт
{% endblock %}

{% block content %}
  <h1>Про сайт</h1>
  <p>На этом сайте вы можете создавать задачи и также осуществлять поиск нужной информации. Для того что бы начать пользоваться сайтом, необходимо зарегистрироваться или авторизироваться</p>
  <p>"Главная" - на этой странице будут отображаться ваши задачи, которые вы создали</p>
  <p>"Создать задачу" - на этой странице вы можете создавать задачи </p>
  <p>"Поиск" - на этой странице вы можете осуществлять поиск информации при помощи Wikipedia </p>
{% endblock %}

